@model TreeStructure.VM.TreeVM
@{
    var tree = Model.InverseParent;
    var values = new Dictionary<int, string>();
    
    if (Model.InverseParent != null)
    {
        await GetAllItems(Model.InverseParent, values);
    }
    <div>
        @if(ViewBag.Success != null)
        {
            <h4 class="text-success">@ViewBag.Success</h4>
        }
        else if(ViewBag.Failure != null)
        {
            <h4 class="text-danger">@ViewBag.Failure</h4>
        }
        <ul>
            <li>
                <span class="caret">@Model.Folder</span>
                    <div class="btn-group test">
                        <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Opcje</button>
                        <ul class="dropdown-menu col" >
                            <li>
                                <button type="button" class="btn btn-success btn-sm dropdown-item" data-toggle="modal" data-target="#addModal">Dodaj</button>
                            </li>  
                        </ul>
                        </div>
                <form asp-action="AddElement" method="post">                    
                    <!-- Modal Dodaj-->
                    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Dodaj element</h5>
                            </div>
                            <div class="modal-body">
                                Wprowadź nazwę nowego elementu:
                                <input type="text" name="name" id="uname" pattern="[a-zA-Z0-9-]+" maxlength="40" required>
                                <input type='hidden' name="id" value="@Model.Id"/>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                            <input class="btn btn-primary" type="submit" value="Dodaj folder"/> 
                            </div>
                        </div>
                        </div>
                    </div>
                </form>
                <ul class="nested">
                @if (tree != null && tree.Any())
                {
                    var count = 0;
                    @foreach (var item in tree)
	                {
                        <li>
                            <span class="caret">@item.Folder</span>
                            <div class="btn-group">
                                <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Opcje</button>
                                <ul class="dropdown-menu" >
                                    <li><button type="button" class="btn btn-success btn-sm dropdown-item" data-toggle="modal" data-target="#addModal@(count)">Dodaj</button></li>  
                                    <li><button type="button" class="btn btn-success btn-sm dropdown-item" data-toggle="modal" data-target="#deleteModal@(count)">Usuń</button></li>  
                                    <li><button type="button" class="btn btn-success btn-sm dropdown-item" data-toggle="modal" data-target="#editModal@(count)">Zmień</button></li>
                                    <li><button type="button" class="btn btn-success btn-sm dropdown-item" data-toggle="modal" data-target="#moveModal@(count)">Przenieś</button></li> 
                                </ul>
                                </div>
                            <form asp-action="AddElement" method="post">                    
                            <!-- Modal Dodaj-->
                            <div class="modal fade" id="addModal@(count)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Dodaj element</h5>
                                    </div>
                                    <div class="modal-body">
                                        Wprowadź nazwę nowego elementu:
                                        <input type="text" name="name" id="uname" pattern="[a-zA-Z0-9-]+" maxlength="40" required>
                                        <input type='hidden' name="id" value="@item.Id"/>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                                    <input class="btn btn-primary" type="submit" value="Dodaj folder"/> 
                                    </div>
                                </div>
                                </div>
                            </div>
                            </form>
                                <form asp-action="DeleteElement" method="post">
                                <!-- Modal Usuń-->
                                <div class="modal fade" id="deleteModal@(count)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Usuń element</h5>
                                        </div>
                                        <div class="modal-body">
                                            Czy na pewno chcesz usunąć element?
                                            <input type='hidden' name="id" value="@item.Id"/>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                                        <input class="btn btn-primary" type="submit" value="Usuń"/> 
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </form>
                                <form asp-action="EditElement" method="post">
                                <!-- Modal Edytuj-->
                                <div class="modal fade" id="editModal@(count)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Edytuj element</h5>
                                        </div>
                                        <div class="modal-body">
                                            Podaj nową nazwę:
                                            <input type="text" name="name" id="uname" pattern="[a-zA-Z0-9-]+" maxlength="40" required>
                                            <input type='hidden' name="id" value="@item.Id"/>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                                        <input class="btn btn-primary" type="submit" value="Zmień"/> 
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </form>
                                <form asp-action="MoveElement" method="post">
                                <!-- Modal Przenieś-->
                                <div class="modal fade" id="moveModal@(count)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Przenieś element</h5>
                                        </div>
                                        <div class="modal-body">
                                            Wybierz gdzie chcesz przenieść element:
                                            <select class="form-select" multiple aria-label="multiple select example" name="newId">
                                            <option value="@Model.Id">@Model.Folder</option>
                                            @foreach(var element in values)
                                            {
                                                <option value="@element.Key">@element.Value</option>
                                            }
                                            </select>
                                            <input type='hidden' name="id" value="@item.Id"/>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                                        <input class="btn btn-primary" type="submit" value="Przenieś"/> 
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </form>
                                @{count++;}
                            <ul class="nested">
                                @if (item.InverseParent.Count > 0)
		                        {
                                    await DisplayChildren(item.InverseParent, values);
		                        }
                            </ul>
                        </li>
	                }
                }
            </ul>
        </li>
    </ul>
</div>
}       

@functions
{
    private async Task DisplayChildren(ICollection<TreeStructure.Models.Tree> children, Dictionary<int,string> values)
    {  
        if(children.Any())
        {
            @foreach (var child in children)
	        {	
            <li>
                <span class="caret">@child.Folder</span>
                <div class="btn-group">
                    <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Opcje</button>
                    <ul class="dropdown-menu" >
                        <li><button type="button" class="btn btn-success btn-sm dropdown-item" data-toggle="modal" data-target="#addModal@(child.Id)">Dodaj</button></li>  
                        <li><button type="button" class="btn btn-success btn-sm dropdown-item" data-toggle="modal" data-target="#deleteModal@(child.Id)">Usuń</button></li>  
                        <li><button type="button" class="btn btn-success btn-sm dropdown-item" data-toggle="modal" data-target="#editModal@(child.Id)">Zmień</button></li>
                        <li><button type="button" class="btn btn-success btn-sm dropdown-item" data-toggle="modal" data-target="#moveModal@(child.Id)">Przenieś</button></li> 
                    </ul>
                </div>
                    <form asp-action="AddElement" method="post">                    
                        <!-- Modal Dodaj-->
                        <div class="modal fade" id="addModal@(child.Id)" role="dialog" aria-labelledby="exampleModalCenterTitle">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Dodaj element</h5>
                                </div>
                                <div class="modal-body">
                                    Wprowadź nazwę nowego elementu:
                                    <input type="text" name="name" id="uname" pattern="[a-zA-Z0-9-]+" maxlength="40" required>
                                    <input type='hidden' name="id" value="@child.Id"/>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                                <input class="btn btn-primary" type="submit" value="Dodaj folder"/> 
                                </div>
                            </div>
                            </div>
                        </div>
                    </form>
                    <form asp-action="DeleteElement" method="post">
                    <!-- Modal Usuń-->
                    <div class="modal fade" id="deleteModal@(child.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Usuń element</h5>
                            </div>
                            <div class="modal-body">
                                    Czy na pewno chcesz usunąć element?
                                <input type='hidden' name="id" value="@child.Id"/>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                            <input class="btn btn-primary" type="submit" value="Usuń"/> 
                            </div>
                        </div>
                        </div>
                    </div>
                    </form>
                    <form asp-action="EditElement" method="post">
                    <!-- Modal Edytuj-->
                    <div class="modal fade" id="editModal@(child.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Edytuj element</h5>
                            </div>
                            <div class="modal-body">
                                    Podaj nową nazwę:
                                <input type="text" name="name" id="uname" pattern="[a-zA-Z0-9-]+" maxlength="40" required>
                                <input type='hidden' name="id" value="@child.Id"/>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                            <input class="btn btn-primary" type="submit" value="Zmień"/> 
                            </div>
                        </div>
                        </div>
                    </div>
                    </form>
                    <form asp-action="MoveElement" method="post">
                    <!-- Modal Przenieś-->
                    <div class="modal fade" id="moveModal@(child.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Przenieś element</h5>
                            </div>
                            <div class="modal-body">
                                Wybierz gdzie chcesz przenieść element:
                                <select class="form-select" multiple aria-label="multiple select example" name="newId">
                                    <option value="@Model.Id">@Model.Folder</option>
                                    @foreach(var element in values)
                                    {
                                        <option value="@element.Key">@element.Value</option>
                                    }
                                </select>
                                <input type='hidden' name="id" value="@child.Id"/>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                            <input class="btn btn-primary" type="submit" value="Przenieś"/> 
                            </div>
                        </div>
                        </div>
                    </div>
                    </form>
                    <ul class="nested">
                    @if (child.InverseParent.Count > 0)
		            {
			            await DisplayChildren(child.InverseParent, values);
		            }
                    </ul>
             </li>
            }
        }
    }
}
@functions
{
    private async Task GetAllItems(ICollection<TreeStructure.Models.Tree> children, Dictionary<int, string> lista)
    {
        if(children.Any())
        {
            @foreach (var child in children)
            {
                lista.Add(@child.Id,@child.Folder);
                @if (child.InverseParent.Count > 0)
		        {
			        await GetAllItems(child.InverseParent, lista);
		        }
            }
        }
    }
}